@import "./var";

html,body,* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-size: 14px;
  line-height: 1;
}

.full {
  width: 100% !important;
}

.pointer {
  cursor: pointer;
}

.required {
  &::before {
    content: "*";
    color: $danger-1;
    padding-right: 4px;
  }
}

.bgf{
  background-color:#fff;
}

.cf{
  color: #fff;
}

.fb{
  font-weight: bold;
}

.danger{
    color: $danger-1;
}
