.el-table {
  background-color: #212744;
    tr,th.el-table__cell {
      background-color: transparent;
    }
  .el-table-content {
    color: #c2c6dc;



    .el-table__th {
      font-size: 14px;
    }

    .el-table__tbody {
      .el-table__tr {
        border-bottom: 20px solid #212744;
        transition: all 0.3s ease;
        &:hover {
          transform: translateY(-4px);
        }
      }

      .el-table__td {
        background-color: $bg-2;
        font-size: 14px;
        .el-button {
          float: left;
          margin-right: 10px;
          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
